.Header{
    background: rgba(83, 81, 81, 0.10);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: right;
}
a{
    font-size:40px;
    color: gray;
    margin: 80px;
}
.Content{
    width: 100%;
    height: 80vh;
    display: flex;
}
.Text{
    width: 50%;
    height: 80vh;
    text-align: center;
    font-size: 30px;
    padding-top: 150px;
}
.Photo{
    width: 50%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
button{
    width: 150px;
    height: 30px;
    color: black;
    border-radius: 30px;
    border: 1px solid #000;
    margin: 46px;
    transition: 1s;
}
button:hover{
    transform: scale(1.1);
    transition: 2s;
}



article h1{
    font-size: 70px;
    margin-bottom: 46px;
}
article p{
    font-size: 35px;
}
article{
padding: 0 106px 0 148px;
}
.activelink{
    color: #0935c2;
}