body{
    margin: 0;
}
.FatherBox{
    width: 100vw;
    height: 100vh;
    background: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content{
    width: 35vw;
    height: 40vh;
    background: white;
    border: 1px solid gray;
    border-radius: 10px;

}
.Header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Releway;
    background: rgba(0, 139, 139, 0.25);
    width: 100%;
    height: 7vh;
}
.mainContent{
    width: 35vw;
    height: 33vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#email{
    width: 20vw;
    height: 4vh;
    margin-top: 20px;
}
#password{
    margin-top: 40px;
    width: 20vw;
    height: 4vh;
}
#check{
    margin-top: 30px;
}
#sumbit{
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-left: 150px;
}